extends layout

block content
	.jumbotron
		.container
			h1 About Us
			p Lorem ipsum dolor sitamet, consecutor adphising elit,. Fucse orci nulla, vehicula ulmallcoper labortis sed, Luctus just som' texte' Iacus.
			ul
				li Vivamus nec scelerisque
				li Cras efficictur
				li Nam lectus elit
			p Quissque Lorem ipsum dolor sitamet, consecutor adphising elit,. Fucse orci nulla, vehicula ulmallcoper labortis sed, Luctus just som' texte' Iacus. Lorem ipsum dolor sitamet, consecutor adphising elit,. Fucse orci nulla, vehicula ulmallcoper labortis sed, Luctus just som' texte' Iacus. Donec Curabitur eu ac eusimod.